name: "Close stale issues and PRs"
on:
  schedule:
    - cron: "30 23 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: read
      pull-requests: write
    steps:
      - uses: actions/stale@v10.1.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          exempt-assignees: "pouriyajamshidi"
          exempt-pr-labels: "security"
          exempt-issue-labels: "security"
          stale-pr-message: |
            This pull request has been automatically marked as stale because it has not had recent activity.
            It will be closed in 7 days if no further activity occurs.
            Let's figure out how to push this issue forward together by commenting here.

            Thank you for your contribution!
          close-pr-message: |
            This pull request has been automatically closed because it has not had recent activity or follow ups.
          days-before-stale: 30
          days-before-close: 7
